#img-background{
    background-image: url("../img/backround.jpg") ;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size:cover;
}

#head-font{
    font-family: Ubuntu;
    font-style: normal;
    background-size:cover;
    top:10%;
}

#header-logo{
    background-repeat: repeat;
    background-attachment: fixed;
    background-size:cover;
    
}

#header {
    height:210px;
    background: auto;
    width: auto;
    margin: auto;
    position: static;
}

#login-username{
    left: 370px;
    bottom: 150px;
    position: relative;
    width: auto;
    margin: auto;
    background-size:cover;
    font-family: Ubuntu;

}
#login-password{
    left: 480px;
    bottom: 150px;
    position: relative;
    width: auto;
    margin: auto;
    background-size:cover;
    font-family: Ubuntu;
}
#login-username-form{
    left:600px;
    bottom: 120px;
    position: relative;
    width: auto;
    margin: auto;
    background-size:cover;
    height: 20px;
    width: 180px;
}

#login-password-form{
    left:670px;
    bottom: 120px;
    position: relative;
    width: auto;
    margin: auto;
    background-size:cover;
    height: 20px;
    width: 180px;
}

#connect-button{

    left:1060px;
    bottom: 145px;
    position: relative;
    margin: auto;
    background-size:cover;
    height:auto;
    width: auto;
    color: black;
    background-color: white;
}

#register{

    right: auto;
    position: relative;
    background-size:cover;
    font-family: Ubuntu;
    color: #000000;
    font-size: large;
}
#forget-pass{
    left:890px;
    position: relative;
    background-size:cover;
    font-family: Ubuntu;
    color: #000000;
    font-size: large;
    right: auto;

}

#menu {
    top:2%;
    background-color: #fdfff3;
    height:50px;
    margin: auto;
    position: relative;
    right: auto;
    opacity: 0.9;
    width: 102%;
}

#font{
    font-family: Ubuntu;
    font-size: xx-large;
    font-style: normal;
    background-color: transparent;
}


#prosfores{

    top: 50px;
    background-color: #fdfff3;
    height:40px;
    margin: auto;
    position: relative;
    right: auto;
    opacity: 0.9;
 }

#paketa-zumarika{
    left: 50px;
    top: 80px;
    background-color: transparent;
    height:420px;
    width: auto;
    margin: auto;
    position: relative;
    right: auto;
    opacity: 0.9;
  }

#font-package{
    font-family: Ubuntu;
    font-size: large;
    font-style: normal;
    background-color: transparent;
}

#paketa-salates{
    left: -400px;
    top: 0px;
    background-color: transparent;
    height:420px;
    width: 400px;
    margin: auto;
    position: relative;
    right: auto;
    opacity: 0.9;
    border: 2px solid white;

}

#font-package{
    font-family: Ubuntu;
    font-size: xx-large;
    font-style: normal;
    background-color: #ffd700;
}

#font-package-style{
    font-family: Ubuntu;
    font-size: xx-large;
    font-style: normal;
    background-color: red;
}
